body {
  background-color: #006666;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Toolbar*/

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  background-color: #008080;
}

.toolbarHeading {
  display: inline;
  margin-left: 0.2rem;
}

.fa-expand,
.fa-compress {
  margin-right: 0.2rem;
}

.fa-expand:hover,
.fa-compress:hover {
  color: white;
  cursor: pointer;
}

/*Editor*/

.editorWrap {
  flex-direction: column;
  border-style: solid;
  width: 30%;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#editor {
  height: 100%;
  overflow-y: auto;
  background-color: #66b2b2;
}

@media (max-width: 767px), (max-height: 440px) {
  .editorWrap {
    width: 60%;
  }
}

.editorWrap-maximize {
  flex-direction: column;
  border-style: solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
  height: 100vh;
}

/*Previewer*/

.render {
  border-style: solid;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;
  background-color: #66b2b2;
}

.render-maximize {
  flex-direction: column;
  border-style: solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
  height: 100vh;
  background-color: #66b2b2;
}

@media (max-width: 767px), (max-height: 440px) {
  .render {
    width: 80%;
    border-style: solid;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: #66b2b2;
  }
}

.preview {
  overflow: auto;
  margin-left: 5px;
  margin-right: 5px;
}

pre {
  background-color: white;
  overflow: auto;
}
